@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    font-size: 12px;
    max-height: 100vh;
    overflow-y: auto;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid #082d4a;
    font-size: 32px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    font-size: 18px;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    font-size: 18px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 32px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #082d4a;
  }

  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
